// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300i');
body {
	background: #201c29;
}
// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: .5rem 1rem 1rem rgba(0,0,0,0.6);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Fira Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.boxes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width:cover;
  height: 100vh;
}
.boxes .box {
  position: relative;
  flex: 1 1 auto;
  width: 5%;
  transition: all .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
	display: flex;
	box-shadow: .2rem 0 .2rem rgba(0, 0, 0, .6);
}
.boxes .box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  font-size: 2rem;
  color: transparent;
  transition: all .5s ease-in-out;
}
.boxes .box.one {
  background: linear-gradient(60deg, #282828, #565656, #9b9b9b, #ffffff);
	.text {
		margin-left: 1rem;
	}
}
.full {
	width: cover;
}
.hide {
	width: 0;
}
.boxes .box.two {
  background: linear-gradient(60deg, #282828, #565656, #9b9b9b, #ffffff);
	.text {
		margin-left: 1rem;
	}
}
.boxes .box.three {
  background: linear-gradient(60deg, #282828, #565656, #9b9b9b, #ffffff);
}
.boxes .box.four {
  background: linear-gradient(60deg, #282828, #565656, #9b9b9b, #ffffff);
	width: 80%;
	.text {
		transform: translate(-50%, -50%) scale(1);
		color: white;
		margin-left: 1rem;
	}
}
.boxes .box:hover {
  width: 100%;
	.text {
		color: #fff;
		transform: translate(-50%, -50%) scale(1);
	}
	.four {
		opacity: 0;
		color: transparent;
		transform: translate(-50%, -50%) scale(0);
	}
}
.box .icon {
	color: white;
	align-self: center;
	font-size: 2rem;
	padding-left: 1.3rem;
}